:root {
  --primary-color: #333;
  --secondary-color: #fff;
  --footer-color: #222;
  --accent-color: #ff0000;
  --media-hovered: #ff5555;
}

:root.light-theme {
  --primary-color: #fff;
  --secondary-color: #333;
  --footer-color: #ddd;
}

@media(prefers-color-scheme: light) {
  :root {
    --primary-color: #fff;
    --secondary-color: #333;
    --footer-color: #ddd;
  }
  :root.dark-theme {
    --primary-color: #333;
    --secondary-color: #fff;
    --footer-color: #222;
  }
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);

  font-family: Arial, sans-serif;

  margin-left: 0;

  transition: background-color 0.5s, color 0.5s;
}

h1, h2 {
  font-size: 3rem;
  color: var(--secondary-color);

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  transition: color 0.5s;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);

  border-radius: 5px;
  padding: 10px 20px;
  font-size: 2rem;

  margin: 10px; 

  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.theme-button {
  padding: 20px 20px;
  
  position: absolute;
  top: 0px;
  right: 0px;
}


.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.bmr-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 2rem;
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

label {
  font-size: 2rem;
  color: var(--secondary-color);
  
  transition: color 0.5s;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  
}
.switch {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 200px;
}

.switch button {
  width: 170px;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: var(--media-hovered);
  transition: color 0.2s;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center; /* Add this line to center the footer */
  background-color: var(--footer-color);
  color: var(--secondary-color);
  
  transition: color 0.5s, background-color 0.5s;
}

span {
  color: var(--accent-color);
}

@media(max-width: 600px){
  .theme-button {
    display: none;
  }
  input {
    width: 80%;
  }
  .switch button {
    width: 150px;
  }
  .switch {
    width: 130px;
  }
}